[submodule "r2dbc-spi"]
	path = r2dbc-spi
	url = https://github.com/r2dbc/r2dbc-spi.git
[submodule "r2dbc-h2"]
	path = r2dbc-h2
	url = https://github.com/r2dbc/r2dbc-h2.git
[submodule "r2dbc-postgresql"]
	path = r2dbc-postgresql
	url = https://github.com/r2dbc/r2dbc-postgresql.git
[submodule "r2dbc-mssql"]
	path = r2dbc-mssql
	url = https://github.com/r2dbc/r2dbc-mssql.git
[submodule "r2dbc-bom"]
	path = r2dbc-bom
	url = https://github.com/r2dbc/r2dbc-bom.git
[submodule "r2dbc-proxy"]
	path = r2dbc-proxy
	url = https://github.com/r2dbc/r2dbc-proxy.git
[submodule "r2dbc-pool"]
	path = r2dbc-pool
	url = https://github.com/r2dbc/r2dbc-pool.git
[submodule "r2dbc-client"]
	path = r2dbc-client
	url = https://github.com/r2dbc/r2dbc-client.git
[submodule "r2dbc-artwork"]
	path = r2dbc-artwork
	url = https://github.com/r2dbc/r2dbc-artwork.git
[submodule "r2dbc.github.io"]
	path = r2dbc.github.io
	url = https://github.com/r2dbc/r2dbc.github.io.git
